<launch>
  <!-- Map and TF frames -->
  <arg name="map_file" default="$(find fast_localization)/../global_map/nav_map.yaml"/>
  <arg name="publish_static_tf" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="rviz_config" default="$(find navigation)/config/nav.rviz"/>
  <arg name="rviz_name" default="rviz_nav"/>
  <arg name="use_teb" default="true"/>
  <arg name="enable_obstacle_avoidance" default="false"/>
  <arg name="enable_chassis" default="true"/>
  <arg name="chassis_port" default="can0"/>
  <arg name="chassis_model" default="ranger_mini_v2"/>
  <arg name="chassis_odom_frame" default="odom"/>
  <arg name="chassis_base_frame" default="body"/>
  <arg name="chassis_odom_topic" default="/ranger_odom"/>
  <arg name="chassis_publish_odom_tf" default="true"/>
  <arg name="enable_spinning_mode" default="true"/>
  <arg name="chassis_spin_switch_linear_threshold" default="0.01"/>
  <arg name="chassis_spin_switch_angular_threshold" default="0.60"/>
  <arg name="publish_body_to_base_tf" default="true"/>
  <arg name="enable_map_odom_tf" default="true"/>
  <arg name="global_odom_topic" default="/Odometry"/>
  <arg name="map_odom_publish_rate" default="100.0"/>
  <arg name="map_odom_timeout" default="0.5"/>
  <arg name="map_odom_time_offset" default="0.03"/>
  <arg name="enable_cmd_vel_filter" default="true"/>
  <arg name="cmd_vel_delay_comp_enable" default="true"/>
  <arg name="cmd_vel_delay_comp_tau_linear" default="0.08"/>
  <arg name="cmd_vel_delay_comp_tau_angular" default="0.00"/>
  <arg name="cmd_vel_delay_comp_max_linear_boost" default="0.12"/>
  <arg name="cmd_vel_delay_comp_max_angular_boost" default="0.00"/>
  <arg name="cmd_vel_angular_lpf_enable" default="true"/>
  <arg name="cmd_vel_angular_lpf_alpha" default="0.35"/>
  <arg name="cmd_vel_angular_slew_rate" default="1.0"/>
  <arg name="cmd_vel_angular_damping_enable" default="true"/>
  <arg name="cmd_vel_angular_damping_topic" default="/ranger_odom"/>
  <arg name="cmd_vel_angular_damping_gain" default="0.35"/>
  <arg name="cmd_vel_angular_damping_max" default="0.12"/>
  <arg name="cmd_vel_angular_damping_timeout" default="0.2"/>

  <!-- Static TF: map -> camera_init -->
  <group if="$(arg publish_static_tf)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_camera_init"
          args="0 0 0 0 0 0 map camera_init"/>
  </group>
  <!-- Static TF: body -> base_link (identity), used with odom -> body chain -->
  <node if="$(arg publish_body_to_base_tf)" pkg="tf2_ros" type="static_transform_publisher" name="body_to_base_link"
        args="0 0 0 0 0 0 body base_link"/>

  <!-- Publish 2D nav map -->
  <node pkg="map_server" type="map_server" name="map_server"
        args="$(arg map_file)" output="screen">
    <param name="frame_id" value="map"/>
  </node>

  <!-- Chassis bringup (AgileX Ranger Mini) -->
  <group if="$(arg enable_chassis)">
    <include file="$(find ranger_bringup)/launch/ranger_mini_v2.launch">
      <arg name="port_name" value="$(arg chassis_port)"/>
      <arg name="robot_model" value="$(arg chassis_model)"/>
      <arg name="odom_frame" value="$(arg chassis_odom_frame)"/>
      <arg name="base_frame" value="$(arg chassis_base_frame)"/>
      <arg name="odom_topic_name" value="$(arg chassis_odom_topic)"/>
      <arg name="publish_odom_tf" value="$(arg chassis_publish_odom_tf)"/>
      <arg name="enable_spinning_mode" value="$(arg enable_spinning_mode)"/>
      <arg name="spin_switch_linear_threshold" value="$(arg chassis_spin_switch_linear_threshold)"/>
      <arg name="spin_switch_angular_threshold" value="$(arg chassis_spin_switch_angular_threshold)"/>
    </include>
  </group>

  <!-- Dynamic TF: map -> odom from global localization + wheel odometry -->
  <node if="$(arg enable_map_odom_tf)" pkg="navigation" type="map_odom_broadcaster.py" name="map_odom_broadcaster" output="screen">
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="$(arg chassis_odom_frame)"/>
    <param name="global_odom_topic" value="$(arg global_odom_topic)"/>
    <param name="local_odom_topic" value="$(arg chassis_odom_topic)"/>
    <param name="publish_rate" value="$(arg map_odom_publish_rate)"/>
    <param name="msg_timeout" value="$(arg map_odom_timeout)"/>
    <param name="time_offset" value="$(arg map_odom_time_offset)"/>
  </node>

  <!-- move_base with costmaps and planners -->
  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find fast_localization)/../navigation/config/costmap_common.yaml" command="load"/>
    <rosparam file="$(find fast_localization)/../navigation/config/global_costmap.yaml" command="load"/>
    <rosparam file="$(find fast_localization)/../navigation/config/move_base_params.yaml" command="load"/>
    <rosparam if="$(arg use_teb)" file="$(find fast_localization)/../navigation/config/teb_local_planner_params.yaml" command="load"/>

    <param if="$(arg use_teb)" name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <param unless="$(arg use_teb)" name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <rosparam if="$(arg enable_obstacle_avoidance)" file="$(find fast_localization)/../navigation/config/local_costmap_obstacle.yaml" command="load"/>
    <rosparam unless="$(arg enable_obstacle_avoidance)" file="$(find fast_localization)/../navigation/config/local_costmap_no_obstacle.yaml" command="load"/>

    <param if="$(arg enable_obstacle_avoidance)" name="local_costmap/obstacle_layer/enabled" value="true"/>
    <param unless="$(arg enable_obstacle_avoidance)" name="local_costmap/obstacle_layer/enabled" value="false"/>

    <param if="$(arg enable_obstacle_avoidance)" name="DWAPlannerROS/occdist_scale" value="0.02"/>
    <param unless="$(arg enable_obstacle_avoidance)" name="DWAPlannerROS/occdist_scale" value="0.0"/>

    <!-- send raw cmd_vel for filtering (only remap when filter is enabled) -->
    <remap if="$(arg enable_cmd_vel_filter)" from="/cmd_vel" to="/cmd_vel_raw"/>
  </node>

  <!-- cmd_vel delay compensator -->
  <node if="$(arg enable_cmd_vel_filter)" pkg="navigation" type="cmd_vel_filter.py" name="cmd_vel_filter" output="screen">
    <param name="input_topic" value="/cmd_vel_raw"/>
    <param name="output_topic" value="/cmd_vel"/>
    <param name="delay_comp_enable" value="$(arg cmd_vel_delay_comp_enable)"/>
    <param name="delay_comp_tau_linear" value="$(arg cmd_vel_delay_comp_tau_linear)"/>
    <param name="delay_comp_tau_angular" value="$(arg cmd_vel_delay_comp_tau_angular)"/>
    <param name="delay_comp_max_linear_boost" value="$(arg cmd_vel_delay_comp_max_linear_boost)"/>
    <param name="delay_comp_max_angular_boost" value="$(arg cmd_vel_delay_comp_max_angular_boost)"/>
    <param name="angular_lpf_enable" value="$(arg cmd_vel_angular_lpf_enable)"/>
    <param name="angular_lpf_alpha" value="$(arg cmd_vel_angular_lpf_alpha)"/>
    <param name="angular_slew_rate" value="$(arg cmd_vel_angular_slew_rate)"/>
    <param name="angular_damping_enable" value="$(arg cmd_vel_angular_damping_enable)"/>
    <param name="angular_damping_topic" value="$(arg cmd_vel_angular_damping_topic)"/>
    <param name="angular_damping_gain" value="$(arg cmd_vel_angular_damping_gain)"/>
    <param name="angular_damping_max" value="$(arg cmd_vel_angular_damping_max)"/>
    <param name="angular_damping_timeout" value="$(arg cmd_vel_angular_damping_timeout)"/>
  </node>

  <!-- RViz for monitoring -->
  <group if="$(arg rviz)">
    <node pkg="rviz" type="rviz" name="$(arg rviz_name)" args="-d $(arg rviz_config)"/>
  </group>
</launch>
